html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}

.full-background {
    background-color: #E0E4E0 !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    ---primary-color:#76ff7a;
    /* ---primary-color: #254E3C; */
    ---secondary-color: #ffb6c1;

}

i {
    color: var(---secondary-color);
    font-size: 20px;
}

.common-btn {
    background-color: var(---primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.common-btn:hover {
    background-color: var(---secondary-color);
}



/* nav strat */
.navbar-nav .nav-item .nav-link.active {
    color: var(---secondary-color);
}

.navbar {
    background-color: var(---primary-color);
    margin-top: 10px;
    text-align: center;

}

.navbar-nav .nav-item .nav-link {

    color: black;
    font-size: 20px;
}

.signin-up {
    text-align: center;
}

.signin-up li {
    list-style: none;
}

.signin-up li a {
    text-decoration: none;

    color: black;
    font-size: 20px;
    margin-left: 20px;
}

.signin-up li a i {
    margin-right: 10px;
}

/* nav end */
/* banner start */
.banner {
    background-image: url(/image/weed-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;

    background-color: black !important;
    opacity: .9;



}

.banner-text {
    color: white;

}

.z-index {
    display: flex !important;
    justify-content: center;
    align-items: center;

    background-color: black;

    height: 100%;
    width: 100%;
    opacity: .8;
}

/* banner end */
/* payment start */
.payment {
    background-color: #FFFFFF !important;

}

.payment-i {
    font-size: 40px;
    background-color: var(---primary-color);
    padding: 10px;
    border-radius: 50%;
    margin-top: 20px !important;

}

/* payment end */
/* hover card start */
.hover-Card {
    margin-top: 20px;
    overflow: hidden;


}

.hover-Card img {
    width: 100%;
    height: 25vh;
    border-radius: 10px;

}

.hover-Card img:hover {
    transform: scale(1.2);
    transition: .10s;
    border-radius: 10px;

}

/* hover card end */

/* table start */
.product-img {

    width: 150px;
    height: 100px;
}

.table-bg {
    background-color: #E0E4E0;
}

table th {
    font-size: 30px;
    padding: 20px;
    background-color: var(---primary-color);
    color: white;
}

table {
    margin-top: 20px;
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

/* table end */

/* checkbox start */
.checkbox {
    margin-top: 20px;
    border: 1px solid black;

}

.checkbox h3 {
    border-bottom: 1px solid black;
    padding-left: 10px;
}

.form-label {
    margin-left: 10px;
    font-size: 15px;
    color: black;

}

.form-control {
    margin-right: 10px;
    margin-bottom: 20px;



}

/* checkbox end */

/* carousel start */
.carousel-item img {
    width: 100%;
    height: 80vh;
    margin-bottom: 20px;
}

/* carousel end */


/* card start */
.list-group .list-group-item {
    text-align: center;
}

.list-group .list-group-item:hover {
    background-color: var(---secondary-color);
}

.card {
    overflow: hidden;
}

#an-item {
    background-color: var(---primary-color);
    text-align: center;
}

#an-item li {
    text-align: center;
}

#an-item:hover {
    background-color: var(---primary-color);
}

.card img {
    max-width: 100%;
    height: 260px;
}

.card-image:hover {
    transform: scale(1.2);
    transition: .6s;
}

.card-text i {
    color: var(---secondary-color);
}

.price-btn {
    background-color: var(---primary-color) !important;
}

.price-btn:hover {
    background-color: var(---secondary-color) !important;
}

.offcanvas-body img {
    border: 1px solid black;
    padding: 5px;
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.offcanvas-body {
    padding-bottom: 1px solid black !important;
}

.offcanvas-body p {
    font-size: 20px;
    font-weight: 700;
}

.close-btn {
    margin-left: 100px;
    font-size: 30px;
}

.card-btn {
    background-color: var(---primary-color);
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid var(---secondary-color);
    margin: 10px 20px 10px 20px;
}

.card-btn:hover {
    background-color: var(---secondary-color);
}

/* card end */

/* tastomonial start */
.tastomonial img {
    height: 25vh;
    width: 100%;
    border-radius: 50%;
}

/* tastomonial end */

/* footer start */
.footer {
    background-color: black;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
}

.footer-h {
    color: white;
}

.footer ul {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.footer ul li {
    line-height: 30px;
    color: lightgrey;


}

.footer ul li a {
    text-decoration: none;
    color: lightgrey;
    transition: .6s;
}

.footer ul li a:hover {

    padding-left: 8px;
}
.footer-buttom{
   
}
.footer-buttom h3{
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
}
.footer-buttom  a {
    font-size: 20px;
  color: white;
    text-decoration: none;
}

.ex-footer {
    font-size: 50px;
    text-align: center;

}

.ex-footer p {
    color: lightgray;
    font-size: 20px;

}

.footer-hr {
    margin-top: 20px;
    padding: 20px;
    color: lightgrey;
}

/* ----------------- */
.subscribe-area {
    background-color: var(--praimary-color);
}

.input {
    margin-top: 10px;
    padding: 20px;
    background-color: var(--secondary-color);


}

.footer-btn {
    padding: 20px 50px;
    color: white;
}

span i {
    margin-right: 10px;
    font-size: 55px;
    color: lightgrey;
    margin-bottom: 20px;
}

/* footer end */